{% extends 'base.html.twig' %}

{% block title %}{% trans %}lucky.title{% endtrans %}{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>{{ 'lucky.title'|trans }}</h1>

    <p>{{ 'lucky.number'|trans({'number': number}) }}.</p>

</div>
{% endblock %}
