{% extends 'layout/app.html.twig' %}

{% block title %}
	{% trans %}lucky.title{% endtrans %}
{% endblock %}

{% block content %}
	<div class="container mx-auto">
		<div class="bg-white border-2 border-slate-500 rounded mx-2 sm:mx-0">
			<div class="bg-slate-500 px-2 py-1">
				<h1 class="font-bold text-xl mb-2 text-slate-50">{{ 'lucky.title'|trans }}</h1>
			</div>
			<div class="p-4">
				<p class="text-gray-600 text-base">{{ 'lucky.number'|trans({'number': number}) }}.</p>
			</div>
		</div>
	</div>
{% endblock %}
