<!DOCTYPE html>
<html class="h-full">
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="icon" href="/favicon.svg">
		<link rel="stylesheet" href="/css/app.css?{{ asset_nonce }}">
		<script defer src="/js/app.js?{{ asset_nonce }}"></script>
	</head>
	<body class="bg-slate-100 h-full"> {% block body %}{% endblock %}
		</body>
	</html>
